# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Complied Android Application
bin
gen
libs
build.xml
local.properties
proguard-project.txt
.gradle
build

# These are Android Studio files, might be worth including these later.
.idea
*.iml
build.log
build-log.xml
docs.iml1
